/* */
main {
  background-color: white;
}

hr {
  border-top: 1px solid #cccccc;
  padding:0px 0px 0px 0px; 
  margin:0px 200px 0px 200px; 
}

.jumbotron-custom {
  height: 150px;
  margin:0px 0px 20px 0px;
  padding:0px 0px 0px 0px;
  background-color: white;
}

.container-custom {
  margin:20px auto 20px auto;
  padding:0px 0px 0px 0px;
}

.img-custom{
  min-height:100%;
  min-width:100%;
}


